adabelief-pytorch==0.2.1
aiohttp-retry==2.8.3
alibi-detect==0.12.0
arch==7.2.0
async-timeout==4.0.2
asyncssh==2.13.1
bert-score==0.3.13
bitsandbytes==0.48.1
boto3==1.26.76
CairoSVG==2.7.0
causal-learn==0.1.2.3
causality==0.0.10
celery==5.2.7
configobj==5.0.8
dictdiffer==0.9.0
diskcache==5.6.1
dpath==2.1.5
drain3==0.9.11
dulwich==0.21.5
exceptiongroup==1.1.1
fastdtw==0.3.4
flatten-dict==0.4.2
flufl.lock==7.1.1
funcy==2.0
fvcore==0.1.5.post20221221
GitPython==3.1.31
grandalf==0.8
hurst==0.0.5
hydra-core==1.3.2
ipykernel==6.23.1
iterative-telemetry==0.0.8
mamba_ssm==2.2.6.post3
momentchi2==0.1.8
nanotime==0.5.2
openai==2.8.1
openpyxl==3.1.2
pathspec==0.11.1
peft==0.17.1
pingouin==0.5.3
pip==25.2
pre-commit==3.3.2
pyAgrum==2.2.1
pydotplus==2.0.2
pynvml==13.0.1
pyrca==0.2.2
pytest==7.3.1
python-igraph==0.10.4
reformer-pytorch==1.4.4
rich==13.3.5
ruamel.yaml==0.17.26
ruamel.yaml.clib==0.2.14
s3fs==2023.5.0
scikit-network==0.33.3
shortuuid==1.0.11
shtab==1.6.1
sqltrie==0.3.1
tensorboard==2.20.0
textstat==0.7.10
tigramite==5.2.8.2
tiktoken==0.12.0
tk==0.1.0
tomli==2.0.1
tomlkit==0.11.8
torch-geometric==2.7.0
torch_scatter==2.1.2+pt28cu128
torch_sparse==0.6.18+pt28cu128
torchdata==0.7.1
trl==0.23.1
tsfresh==0.20.1
voluptuous==0.13.1
wheel==0.45.1
zc.lockfile==3.0.post1
